/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 ago 2026, 6:40:42 p. m.
    Author     : Usr
*/
.root{
    -fx-background-color: #0f172a;
}
.panel{
    -fx-background-color: #1e293b;
    -fx-background-radius: 8;
    -fx-border-color: #e2e8f0;
    -fx-border-radius: 8;
    -fx-border-width: 1;
}
.boton:selected{
    -fx-background-color: #38bdf8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.texto-principal{
    -fx-text-fill: #f8fafc;
}
.texto-secundario{
    -fx-text-fill: #94a3b8;
    -fx-font-weight:bold;
    -fx-font-size: 15px;
}
.simbolo:selected{
    -fx-background-color: #38bdf8;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: white;
}
.borde{
    -fx-border-color: #334155;
    -fx-border-width: 2;
    -fx-border-radius: 4;
}
